{# src/LOUVRE/TicketBundle/Resources/views/Emails/confirmationReservation.html.twig #}
<h1>Merci pour votre reservation chez nous</h1>

<ul>
  {% for visiteur in listVisiteurs %}
  	<li>Visiteur N°{{loop.index}}</li>
    <span>{{ visiteur.nom }}</span>
    <span>{{ visiteur.prenom }}</span>
  {% endfor %}
</ul>


<span>Cordialement Musée du LOUVRE</span>