{# src/Louvre/TicketBundle/Resources/views/Commande/payement.html.twig #}

{% extends "LOUVRETicketBundle::layout.html.twig" %}

{% block title %}{{ parent() }}- commande du billet{% endblock %}

{% block body %}
<script src="https://checkout.stripe.com/checkout.js"></script>

<button id="customButton">Purchase</button>

 

<script>
var handler = StripeCheckout.configure({
  key: 'pk_test_wFGmbh7iijSho5QbTs2okfSR',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    $.post('',{ token: token.id, mail: token.email},function(){

      var url="http://localhost/SymfonyP3/web/app_dev.php/finalisation/"+{{id}};
      
      window.location.replace(url);
      
    });
  }
});

document.getElementById('customButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'Musée du Louvre',
    description: 'entrez vos informations bancaires',
    amount: {{amount}},
    currency: 'EUR',
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {

  handler.close();
  
});
</script>


{% endblock %}


