{# src/Louvre/TicketBundle/Resources/views/Ticket/remerciement.html.twig #}

{% extends "LOUVRETicketBundle::layout.html.twig" %}

{% block title %}{{ parent() }}- Remerciement{% endblock %}

{% block body %}
  <div class="alert alert-info">
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('notice') %}
        <p>{{ message }}</p>
      {% endfor %}
  </div>

  <button id="redirectionHome" class="btn btn-success"><span class="glyphicon glyphicon-calendar"></span>Commander un nouveau billet</button>
 


{% endblock %}

   {% block javascripts %}
    {{ parent() }}

     <script type="text/javascript">

  $(function() {

    $('#redirectionHome').click(function() {

      $('#redirectionHome').addClass('disabled');
      window.location.replace('http://localhost/SymfonyP3/web/app_dev.php/reservation');

    });
    
  });
  </script>

    {% endblock %}