{# src/LOUVRE/TicketBundle/Resources/views/Ticket/reservation.html.twig #}

{% extends "LOUVRETicketBundle::layout.html.twig" %}



{% block body %}
 <h3>Formulaire de reservation</h3>

<div class="well">
  {{ form(form2) }}
   <h1></h1> 
</div>
{% endblock %}